
    div {
      height: 1000px;
      width: 800px;
    }

    p {
      margin: 0;
    }

    .boundary {
      background-color: cadetblue;
      padding: 20px;
      border: 20px solid black;
    }

